@font-face {
    font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'),
	local('OpenSans'),
	url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'),
	url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    	background-color: grey;
	padding-top: 70px;
}

body, * { font-family: 'Open Sans', sans-serif; }

nav.navbar-merintur { background: rgba(192,192,192, 1); box-shadow: none; }
nav.navbar-merintur a { color: #333; }
nav.navbar-merintur ul.navbar-nav a { color: #333; background: transparent; }
nav.navbar-merintur ul.navbar-nav a:hover { box-shadow: inset 0 -1px 0 0 #000; }
nav.navbar-merintur li.divider { box-shadow: none; height: 1px; background: rgba(100, 100, 100, 0.4); }
nav.navbar-merintur button.navbar-toggle { background: #cccccc; border-radius: 0; }
nav.navbar-merintur button.navbar-toggle:hover { background: #999; }
nav.navbar-merintur button.navbar-toggle > span.icon-bar { background: #fff; border-radius: 0; }

nav.navbar-merintur ul.dropdown-menu { margin: 4px 0 0 0; border-radius: 0; border-width: 0; box-shadow: none; background: rgba(255, 255, 255, 0.8); }
nav.navbar-merintur ul.dropdown-menu > li > a { color: #333; }
nav.navbar-merintur ul.dropdown-menu > li > a:hover { background: rgba(0, 0, 0, 0.2); color: #fff; box-shadow: none; }

   margin-top:10px;
    background: #e0e0e0;
}

